<!DOCTYPE html>
<html lang="en">
<head>
  <div style="padding: 1rem;">
    <div> Register as a Prime </div> 
    <form action="/signup" method="POST" style="display: flex; flex-direction: column; border: 1px solid black;  margin:1rem; padding: 1rem;">
        Username : <input type="text" name="username">
        Password : <input type="password" name="password" style="margin-bottom:1rem;">
        <input type="submit"> Register </input>
    </form>
  </div>
</head>
<body>